body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  color: #2b2d42; /* Dark blue-gray for text */
  background-color: #edf2f4; /* Light gray for the background */
}

.home {
  overflow-x: hidden;
  background-color: #edf2f4;
}

.intro-section {
  height: 100vh;
  background: url('../../public/farm.webp') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.intro-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 800px;
  margin: auto; /* Center content */
}

.intro-content h1 {
  font-size: 3em;
  margin: 0 0 10px 0;
  color: #f77622; /* Warm orange */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.intro-content p {
  font-size: 1.2em;
  margin: 0 0 20px 0;
  color: #f3f4ed; /* Light cream */
}

.explore-button {
  background: #f77622; /* Warm orange */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background 0.3s ease, transform 0.3s ease;
}

.explore-button:hover {
  background: #f3f4ed; /* Light cream */
  color: #2b2d42; /* Dark blue-gray */
  transform: scale(1.05);
}

.content-section {
  padding: 40px 20px;
  background-color: #edf2f4; /* Light gray */
  color: #2b2d42; /* Dark blue-gray */
  text-align: center;
  max-width: 800px; /* Set a max-width */
  margin: auto; /* Center content */
}

.content-section h2 {
  margin-top: 0;
  margin-bottom: 15px; /* Reduced margin-bottom */
  font-size: 2em; /* Slightly smaller font size */
  color: #f77622; /* Warm orange */
}

.content-section p {
  font-size: 1em; /* Slightly smaller font size */
  line-height: 1.6; /* Reduced line-height */
  margin-bottom: 15px; /* Reduced margin-bottom */
}

.content-section ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove padding */
  text-align: left; /* Align text to the left */
}

.content-section ul li {
  position: relative;
  padding-left: 20px; /* Add space for custom bullets */
  margin-bottom: 10px; /* Reduce spacing between list items */
}

.content-section ul li::before {
  content: '•'; /* Custom bullet */
  position: absolute;
  left: 0;
  top: 0;
  color: #f77622; /* Bullet color matching theme */
  font-size: 1.2em;
  line-height: 1.6; /* Align with text */
}

@media (max-width: 768px) {
  .intro-content h1 {
    font-size: 2em;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .content-section {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}
