/* Default navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(31, 41, 55, 0.85); /* Dark color with transparency */
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(0); /* Always visible */
  opacity: 1; /* Fully opaque */
}

/* Navbar list and link styles */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: #F9FAFB; /* Off-White */
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a.active {
  color: #F77622; /* Bright Orange */
  transform: scale(1.1);
}

.navbar a:hover {
  color: #F77622; /* Bright Orange */
  transform: scale(1.1);
}
